.jumbotron {
  padding-top: 5rem;
  background-color: #fff;
}
.navbar {
  background-color: rgb(6, 121, 141);
}
#projects {
  background-color: #fff;
}
section {
  padding-top: 5rem;
}
footer {
  text-align: center;
  background-color: rgb(12, 12, 12);
  color: white;
  padding: 10px;
}
